<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}">Default title</title>
</head>
<body>

<p th:text="${person.getName()} + ', ' + ${person.getAge()}">VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>

<hr>

<div th:if="${books.isEmpty()}">
    <p>Person hasn't taken any books</p>
</div>

<div th:if="${!books.isEmpty()}">
    <h3>Books: </h3>
    <div th:each="book : ${books}">
        <a th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"
           th:href="@{/books/{id}(id = ${book.getId()})}"></a>
    </div>
</div>


<hr>

<form th:method="GET" th:action="@{/people/{id}/edit(id = ${person.getId()})}" th:object="${person}">
    <input type="submit" value="Edit person">
</form>

<br>

<form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getId()})}" th:object="${person}">
    <input type="submit" value="Delete person">
</form>

</body>
</html>